---
---

@import 'variables';
@import "navbar";

//-----------------------------------------
// 2️⃣ Brand colors from _data/settings
// ----------------------------------------
$brand-dark: {{ site.data.settings.brand.dark }};
$brand-primary: {{ site.data.settings.brand.primary }};
$brand-secondary: {{ site.data.settings.brand.secondary }};
$brand-text: {{ site.data.settings.brand.text }};
$brand-surface1: {{ site.data.settings.brand.surface1 }};
$brand-surface2: {{ site.data.settings.brand.surface2 }};
$brand-border: {{ site.data.settings.brand.border }};
$brand-muted: {{ site.data.settings.brand.muted }};

// ----------------------------------------
// 3️⃣ Apply brand colors to elements
// ----------------------------------------

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: $brand-dark;

  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-height: 100dvh;
}

main { 
  flex: 1;
}

footer {
	flex: 0 0 auto;
  padding-bottom: env(safe-area-inset-bottom);
}
