---
---

@import 'variables';
@import "navbar";

html, body {
  height: 100%;
}


body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: $dark;

  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-height: 100dvh;
}

main { 
  flex: 1;
}

footer {
  padding-bottom: env(safe-area-inset-bottom);
}
